/* ---------- Color Module Styles ----------- */

body {
  background-color: #579c06 !important;
}
body,
#color legend {
  color: #ffffff !important;
}
.tabs ul.primary li a.is-active {
  background-color: #ffffff;
}
.tabs ul.primary li.is-active a {
  background-color: #ffffff;
  border-bottom-color: #ffffff;
}
#header {
  background: #7cd01b;
}
#color a,
#color .link {
  color: #ffffff !important;
}
#color a:hover,
#color a:focus,
#color .link:hover,
#color .link:focus {
  color: #000000 !important;
}
#block-views-block-featured-services-block-1 .views-row .icon_bg,
.forum table thead {
  background: #7cd01b;
  border: 1px solid #7cd01b;
}
.pricing-table.views-row:hover {
  box-shadow: 0 0 10px #7cd01b;
}
#block-views-block-featured-services-block-1 .views-row .icon_bg:hover i,
#block-views-block-our-services-block-1 .views-row i,
.pricing-table .views-field-title,
.views-field-field-designation,
.views-field-field-price-table,
.views-field-field-button-name a:hover {
  color: #7cd01b;
}
.pricing-table .views-field-title {
  text-shadow: 1px 1px 0px #7cd01b;
}
.history-content .views-field-field-left-info:after,
.pricing-table.views-row:nth-child(2),
.views-field-field-button-name a,
#block-views-block-category-blog-block-1,
#block-views-block-recent-blog-block-1 {
  background: #7cd01b !important;
}
.views-field-field-button-name a:hover {
  border: 2px solid #7cd01b;
}
.menu-item--expanded .menu {
  background: #7cd01b;
}
.menu-item--expanded .menu a:hover {
  color: #ffffff !important;
}
.management.views-row .views-field-field-images-management .post_name {
  border-left: 9px solid #7cd01b;
  border-right: 9px solid #7cd01b;
}
.form-actions .form-submit,
#search-form .form-submit,
ul.inline li a,
ul.links.inline li a {
  background: #000000;
  font-size: 14px;
  font-weight: 300;
}
.form-actions .form-submit:hover,
.form-actions .form-submit:focus,
#search-form .form-submit:hover,
#search-form .form-submit:focus {
  background-color: #202020;
}
a:active,
.link:active {
  color: #440000;
}
#color .contextual-links a {
  color: #000000 !important;
}
#color .contextual-links a:hover {
  color: #202020 !important;
}
.site-footer {
  background: #2c2c28;
}
#color #footer .menu a,
#color #footer .copyright a,
#color #footer .socIcons a {
  color: #ffffff !important;
}
#color #footer {
  color: #ffffff !important;
}
#color #footer .bottom_footer .menu a {
  color: #ffffff !important;
}
#color #footer span a {
  color: #ffffff !important;
}
#color #footer .menu a:hover,
#color #footer span a:hover,
#color #footer .copyright a:hover,
#color #footer .socIcons a:hover {
  color: #cccccc !important;
}
.region-header,
.region-header a,
.region-header li a.is-active,
.site-branding__text,
.site-branding,
.site-branding__text a,
.site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #ffffff;
}
.sidebar-first {
  background: #7cd01b;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
