body {
  background-repeat: repeat;
  font-family: "Oswald";
}
body #color a {
  font-family: "Oswald";
  text-decoration: none;
}
body #color a:hover {
  text-decoration: none;
}
#main-navbar-collapse li a {
  font-family: "Oswald";
  text-decoration: none;
}
#main-navbar-collapse li a:hover {
  text-decoration: none;
}
#footer a {
  font-family: "Oswald";
  text-decoration: none;
}
#footer a:hover {
  text-decoration: none;
}

h1 {
  font-family: !important;
}
h2 {
  font-family: !important;
}
h3 {
  font-family: !important;
}
h4 {
  font-family: !important;
}
h5 {
  font-family: !important;
}
h6 {
  font-family: !important;
}
