/**
 * Place your custom styles here.
 */
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('slider.css');
h1, h2, h3, h4, h5, h6, p, span{
  font-family: 'Varela Round', sans-serif;
}
header.navbar {
    /*background-color: #3e3f3a;
    border-color: #3e3f3a;*/
}
.navbar .nav > li > a{
  font-size: 14px;
  font-family: 'Varela Round', sans-serif;
}
.navbar-default .navbar-nav > li > a {
  color: #ececec;
  text-shadow: none;
  border-top: 4px solid transparent;
  cursor: pointer;
}
.navbar .logo img{
  /*max-width: 230px;*/
  max-width: 100%;
  margin-top: 6px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{

}
a:hover, a:focus{
  text-decoration: none;
  outline: 0;
}
.navbar-default .navbar-nav > li:last-child a,
.navbar-default .navbar-nav > li:last-child > a:hover, .navbar-default .navbar-nav > li:last-child > a:focus {
  background-color: #93c54c;
  border-top: 4px solid transparent;
  line-height: 20px;
  height: auto;
  margin-top: 18px;
  padding: 2px 15px 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-transform: capitalize;
  color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
  /*color: #0b8fdb;*/
  background-color: rgba(0, 0, 0, 0.12);
  border-top: 4px solid #0090df;
}
#home-slider{
  height: 400px;
  width: 100%;
  overflow: hidden;
}
#process{
  background: url(../images/bg-pattern.png) #ffb200 repeat left top;
  padding-top: 30px;
  padding-bottom: 30px;
}
#footer {
  background: #325d88;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0;
  padding-bottom: 0;
  border-top: 1px solid #555555;

  background: url(../images/bg-pattern.png) #000000 repeat left top;
  /*background: url(../images/background.svg) #000000 no-repeat top left;*/
  /*background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;*/
}
.footer a, .footer span{
  color: #ffffff;
}
.footer .footer-top{
  background: #2b5177;
  background: rgba(0, 0, 0, 0.3);
}
.footer .footer-bottom{
  line-height: 50px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
.footer .footer-bottom p{
  color: #fff;
}
/*.path-contact .main-container .row > .col-sm-9{
  width: 100%;
}
#map-container,
#rw-contact{
  width: 50%;
  float: left;
}*/
#map-container{
  border-right: 1px solid #0091e3;
}
/*#rw-contact{
  padding-left: 20px;
  
}*/
.contact-form #edit-preview{
  display: none; 
}
body.path-frontpage .main-container{
  /*background: url(../images/home_background.jpg) #0678be repeat top left;*/
  /*background: #ffffff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;*/
  background: url(../images/bg-pattern.png) #ffffff repeat top left;
}
body.navbar-is-fixed-top {
  margin-top: 67px !important;
}
.navbar-default{
  /*background: url(../images/background.svg) #0678be no-repeat top left;*/
  /*background: url(../images/bg-pattern.png) #000 repeat top left;*/
  /*background: url(../images/preview.png) #0678be no-repeat top left;*/
  /*background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;*/
}
div.main-container{
  margin-bottom: 30px;
}
.path-frontpage div.main-container{
  margin-bottom: 0px;
}
.breadcrumb{
  background-color: #f7f7f7;
  border: 0px solid #dfd7ca;
}
.page-header {
  margin-top: 20px;
}
.path-frontpage .page-header{
  display: none;
}
::-moz-selection {
  background: #88d5ff;
}

::selection {
    background: #88d5ff;
    color: #ffffff;
}
#block-robotic-main-menu .navbar-right{
  margin-right:0px;
}
.sidebar_second{
  background: #79a736;
  background: url(../images/bg-pattern.png) #79a736 repeat top left;
}
.sidebar_second .container {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: #fff;
}
.robo-slide-btn {
  background: #55555F;
  font-size: 14px;
  line-height: 35px;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 0px 5px 20px;
  border-radius: 3px;
  letter-spacing: .19em !important;
  transition: all .3s ease !important;
  border: 1px solid #55555F;
  text-decoration: none;
}
.robo-slide-btn span.glyphicon{
  transition: none;
  line-height: 35px;
  border-width: 0px 0px 0px 1px;
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 0px 15px;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  border-left: 1px solid #352e2e;
}
#services{
  padding: 40px 0 60px 0;
}
#services .single-service{
  min-height: 570px;
}
.path-frontpage #services .single-service{
  min-height: 410px;
}
#services .single-service ul{
  list-style-type: none;
}
#services .single-service ul li{
  padding: 5px 0;
}
.navbar-fixed-top {
  border-width: 0 0 2px;
  /*border-color: #222;*/
}
span.glyphicon.glyphicon-heart{
  color: red;
  font-size: 22px;
}
#footer-top-content {
  padding: 30px 0;
  text-align: center;
}
#footer-top-content h2{
  color: #ffffff;
  font-size: 32px;
}
ul.list-social li a {
  display: block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 100%;
  color: #fff;
  text-align: center;
}
ul.list-social li.social-twitter a {
  background-color: #1da1f2;
  padding-left: 15px;
}
ul.list-social li.social-facebook a {
  background-color: #3b5998;
  padding-left: 5px;
}
ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
  padding-left: 10px;
}
.left-align{
  text-align: left;
}
.right-align{
  text-align: right;
}
.fa-stack-2x{
  color: #0090df;
}
.fa-stack:hover > .fa-inverse{
  font-size: 1.2em;
  transition: all 0.2s;
}
.section-heading {
    padding-bottom: 9px;
    margin: 0;
    border-bottom: 1px solid #f8f5f0;
    font-size: 40px;s
}
.path-frontpage .block-title{
  text-align: center;
}
.icon-circle {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}
.icon-circle i {
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 36px;
    color: rgb(85, 85, 85);
    margin: 0px auto 20px;
    background: none;
    border-radius: 40px;
    transition: all 0.2s;
}
.icon-circle:hover > i {
    font-size: 48px;
    color: rgb(255, 255, 255);
    transition: all 0.2s;
}
.icon-circle:hover, .icon-circle:hover .text-white{
  /*color: #f1f1f1;*/
}
.text-white{
  font-size: 20px;
  color: #333;
}
/* portfolio */
.view-portfolio ul{
  display: inline-block;
  width: 100%;
  padding: 0;
}
/*.view-portfolio .item-list ul li{
  max-width: none;
  margin: 0;
  list-style: none;
  width: 33%;
  position: relative;
  display: inline-block;
}*/
.view-portfolio .item-list ul li{
  list-style: none;
  position: relative;
  display: inline-block;
  width: 48%;
  float: left;
  margin:10px;
  overflow: hidden;
}


.view-portfolio .item-list img{
  width: 101%;
  height: auto;
  object-fit: cover;
}
.view-portfolio .item-list li:hover img{
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;

  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.view-portfolio .item-list .views-field-title,
.view-portfolio .item-list .views-field-field-tags-portfolio,
.view-portfolio .item-list .views-field-field-portfolio-image a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  display: none;
}
.view-portfolio .item-list a{
  color: #fff;
  text-decoration: none;
  line-height: 1px;
  display: block;
  font-size: 16px;
}
.view-portfolio .item-list .views-field-field-portfolio-image a:after{
  content: '';
  background: url('../images/plus@3x.png') 50% 50% no-repeat, rgba(147,197,76,0.9) no-repeat;
  background-size: 51px, cover;
  -moz-background-size: 51px, cover;
  /* Firefox 3.6+ */
  -webkit-background-size: 51px, cover;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 51px, cover;
  /* Opera 9.6+ */
  background-size: 51px, cover;
  height: 100%;
  width: 100%;
  background-color: rgba(147,197,76,0.9);
  /*position: absolute;
  top: 30%;
  left: 30%;
  font-size: 50px;*/
}
.views-field-field-tags-portfolio .field-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.view-portfolio .item-list li{
  position: relative;
}
.view-portfolio .item-list li:hover .views-field-field-portfolio-image a:after{
  display: block;
  animation: views-field-field-background-image_gwd-keyframes 0.5s linear 0s 1 normal forwards;
  -webkit-animation: views-field-field-background-image_gwd-keyframes 0.5s linear 0s 1 normal forwards;
  -moz-animation: views-field-field-background-image_gwd-keyframes 0.5s linear 0s 1 normal forwards;
}
.view-portfolio .item-list li:hover .views-field-field-tags-portfolio{
  display: block;
  opacity: 0;
  padding-left: 25px;
  padding-top: 25px;
  animation: view-work-gallery 0.5s linear 0.1s 1 normal forwards;
  -webkit-animation: view-work-gallery 0.5s linear 0.1s 1 normal forwards;
  -moz-animation: view-work-gallery 0.5s linear 0.1s 1 normal forwards;
}
.view-portfolio .item-list li:hover .views-field-title{
  display: block;
  animation: view-work-gallery 0.5s linear 0s 1 normal forwards;
  -webkit-animation: view-work-gallery 0.5s linear 0s 1 normal forwards;
  -moz-animation: view-work-gallery 0.5s linear 0s 1 normal forwards;
}
.view-portfolio .views-field-field-tags-portfolio div {
  z-index: 5;
}
.view-portfolio .views-field-title a{
  line-height: normal;
}
.view-portfolio .views-field-title {
  z-index: 6;
  padding-left: 25px;
  text-transform: uppercase;
  line-height: normal;
  font-size: 16px;
}
@keyframes view-work-gallery {
  0% {
    bottom: 0;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    bottom: 35px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-webkit-keyframes view-work-gallery {
  0% {
    bottom: 0;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  100% {
    bottom: 35px;
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes view-work-gallery {
  0% {
    bottom: 0;
    opacity: 0;
    -moz-animation-timing-function: linear;
  }
  100% {
    bottom: 35px;
    opacity: 1;
    -moz-animation-timing-function: linear;
  }
}

.view-portfolio .js-form-item-tid-raw input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
}
.view-portfolio .js-form-item-tid-raw label {
  font-weight: 500;
  font-family: 'Hind', sans-serif;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  padding: 4px 9px 14px 9px;
  border: 2px solid #fff;
  width: auto;
  display: block;
  background: rgba(0, 144, 223, 0.54);
  line-height: 20px;
  margin-top: 0px;
  padding-top: 0;
}
.view-portfolio .js-form-item-tid-raw input[checked="checked"],
.view-portfolio .js-form-item-tid-raw input[checked="checked"] + label {
  color: #fff;
  background: #19c2c9;
  border: 2px solid #19c2c9;
}
.view-portfolio .views-exposed-form .panel-body{
  text-align: center;
}
.view-portfolio #edit-nid--wrapper{
  display: none;
}
.view-portfolio .panel-default {
  border-color: #f7f7f7;
}
.mapinfo-window{
  color: #3e3f3a;
}
.mapinfo-window strong{
  color: #0091e3;
}
.path-node-12 .main-container > .row{
  max-width: 650px;
  margin: 0 auto;
}