<section id="services">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">Services</h2>

<h3 class="section-subheading">We work hard to ensure that every customer is a success story. With each project we look for the areas that’ll have the biggest impact so you can get the greatest return. Learn more about what we provide below.</h3>
</div>
</div>

<div class="row text-center">
<div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"><span>&nbsp;</span></i> <i class="fa fa-cubes fa-stack-1x fa-inverse"><span>&nbsp;</span></i> </span>

<h4 class="service-heading">Web &amp; Application Development</h4>

<p>Each application built by&nbsp;Robotic Wave&nbsp;is specially created to meet the unique needs of our clients. Our web and mobile apps are designed to be&nbsp;fully functional&nbsp;on just about any device and still&nbsp;offer a&nbsp;very friendly and smooth experience&nbsp;to the user. While placing a priority on functionality and appearance, we seek to execute the most innovate designs and create a memorable experience for users.</p>

<ul class="services">
  <li>&nbsp;Front and Backend Web Development (PHP)</li>
  <li>&nbsp;Database MySQL &amp; MySQL Workbench</li>
  <li>&nbsp;Yii PHP Frameworks</li>
  <li>&nbsp;Facebook Application, API Integrations</li>
  <li>&nbsp;Shopping &amp; E-Commerce Integration</li>
  <li>&nbsp;iOS (iPhone &amp; iPad) Development</li>
  <li>&nbsp;Android Development</li>
</ul>
</div>

<div class="col-md-4">
  <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"><span>&nbsp;</span></i>&nbsp;<i class="fa fa-laptop fa-stack-1x fa-inverse"><span>&nbsp;</span></i> </span>
  <h4 class="service-heading">Web &amp; Interactive Design</h4>

  <p>The key to creating a high traffic website is rooted in a smart and simple design. Using the latest technology, we interpret your vision for your website. Our websites are built based on international standards and are suited to both desktop and mobile gadgets. During the testing stage, we thoroughly fish out stumps and dead ends from websites, ensuring we create only highly responsive sites. Regardless of the size of your business or the type of customers you are looking to attract, getting a website can take your business to another level.</p>

  <ul class="services">
    <li>&nbsp;Website Designing</li>
    <li>&nbsp;Web Application Design</li>
    <li>&nbsp;Information Architecture</li>
    <li>&nbsp;Responsive Website</li>
  </ul>
</div>

<div class="col-md-4">
  <h4 class="service-heading">E-Commerce Designing &amp; Integration</h4>

  <p>We understand the overriding importance of making a “golden” first impression for online stores. This is why we pay particular attention to designing ecommerce platforms with a comely appearance and infectious appeal. Increasingly, experts are converging on the fact that brick and mortar stores are quickly losing ground as online shopping booms.</p>

  <ul class="services">
    <li>&nbsp;Magento</li>
    <li>&nbsp;OpenCart</li>
    <li>&nbsp;Lemonstand</li>
    <li>&nbsp;ZenCart</li>
    <li>&nbsp;osCommerce<span class="fa-stack fa-4x"><i class="fa fa-lock fa-stack-1x fa-inverse"><span>&nbsp;</span></i> </span></li>
  </ul>
</div>

<div class="col-md-4">
<h4 class="service-heading">&nbsp;</h4>
</div>

<div class="col-md-4">
<h4 class="service-heading">Content Management System (CMS) Integration</h4>

<p>In creating the ideal Content Management System (CMS), we strip away everything that complicates the process of maintaining your website, while giving you access to all that you need to keep it active and secure. Our Content Management Systems (CMS) can be suited to just about any of the world’s major languages. With absolutely no technical knowledge about how websites work,</p>

<ul class="services">
  <li>Drupal</li>
  <li>Wordpress</li>
  <li>Magento</li>
  <li>Joomla</li>
  <li>OpenCart</li>
  <li>Lemonstand</li>
</ul>

<p>&nbsp;</p>

<h4 class="service-heading">Search Optimization (SEO)</h4>

<p>Search Engine Optimization (SEO) is at the core of online marketing. There are literally hundreds of websites vying for attention from the same group of customers. Search engine optimization essentially makes out the cream from the crop by systematically influencing the way websites rank on search engine results. The logic is quite simple; the foremost your website appears, the higher the likelihood that it will be visited by more customers than that your competitors!</p>

<ul class="services">
  <li>Digital Strategy</li>
  <li>SEO/SMO/SMM</li>
  <li>PPC campaign</li>
  <li>Copywriting</li>
</ul>

<p class="text"><span class="fa-stack fa-4x"><i class="fa fa-refresh fa-stack-1x fa-inverse"><span>&nbsp;</span></i>&nbsp;</span><span class="fa-stack fa-4x"><i class="fa fa-bolt fa-stack-1x fa-inverse"><span>&nbsp;</span></i> </span></p>
</div>

<div class="col-md-4">
<h4 class="service-heading">Social Media Marketing</h4>

<p>Branding is the simple secret to creating a niche for your business in the fast paced virtual world. There are literally hundreds of sellers and service providers in the same category as you; what makes your product or service stand out is your branding. At Midas Web Solution, we develop an integrated marketing strategy that compliments your branding efforts to maximize your presence in the market and your appeal to customers.</p>

<ul class="services">
  <li>&nbsp;Brand Positioning</li>
  <li>&nbsp;Logo</li>
  <li>&nbsp;Corporate&nbsp;Identity Systems</li>
  <li>Product &amp; Services promotions</li>
  <li>&nbsp;Naming Strategies</li>
  <li>&nbsp;Print &amp; Packaging Systems</li>
</ul>
</div>
</div>
</div>
</section>

<section id="services">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h3 class="section-subheading">We work hard to ensure that every customer is a success story. With each project we look for the areas that’ll have the biggest impact so you can get the greatest return. Learn more about what we provide below.</h3>
</div>
</div>

<div class="row text-center">
<div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"><span>&nbsp;</span></i> <i class="fa fa-cubes fa-stack-1x fa-inverse"><span>&nbsp;</span></i> </span>

<h4 class="service-heading">Web Development</h4>

<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
</div>

<div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"><span>&nbsp;</span></i> <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"><span>&nbsp;</span></i> </span>

<h4 class="service-heading">E-Commerce</h4>

<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
</div>

<div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"><span>&nbsp;</span></i> <i class="fa fa-laptop fa-stack-1x fa-inverse"><span>&nbsp;</span></i> </span>

<h4 class="service-heading">Responsive Design</h4>

<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
</div>

<div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"><span>&nbsp;</span></i> <i class="fa fa-lock fa-stack-1x fa-inverse"><span>&nbsp;</span></i> </span>

<h4 class="service-heading">Web Security</h4>

<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
</div>

<div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"><span>&nbsp;</span></i> <i class="fa fa-refresh fa-stack-1x fa-inverse"><span>&nbsp;</span></i> </span>

<h4 class="service-heading">Website Maintenance</h4>

<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
</div>

<div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"><span>&nbsp;</span></i> <i class="fa fa-bolt fa-stack-1x fa-inverse"><span>&nbsp;</span></i> </span>

<h4 class="service-heading">High Performance</h4>

<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
</div>
</div>
</div>
</section>
